@page "/"
@using GameStore.Client.Models

<PageTitle>Game Catalog</PageTitle>

<h1>Каталог игр</h1>

@if (games is null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table table-hover table-bordered table-light">
        <thead class="table-dark">
            <th>№</th>
            <th>Название</th>
            <th>Жанр</th>
            <th>Цена</th>
            <th>Дата выхода</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td>@game.Price</td>
                    <td>@game.ReleaseDate</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}


@code
{
    private List<Game>? games;
    protected override void OnInitialized()
    {
        games = GameClient.GetGames();
    }
}